@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0F1A1E;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

@layer utilities {
  @keyframes slide-in-from-top {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .animate-in {
    animation: slide-in-from-top 0.3s ease-out;
  }

  .fade-in {
    animation: fade-in 2s ease-out;
  }
}

.btn-blur-bg {
  background: url("/images/bg_btn_blur.png") no-repeat center right;
  background-size: cover;
}